<section class="main-container slider-section">
  <div class="slider-section-content">
      <div class="slider-content-inner">
          <h3 class=" text-shadow">WE'RE PROJECT TREE TO SERVE</h3>
          <h2 class="cd-headline slide">
              <span class="cd-words-wrapper">
                  <b class="is-visible">Web Development</b>
                  <b>Mobile Development</b>
                  <b>Digital Marketing</b>
              </span>
          </h2>
          <div class="separator-line"></div>
          <h5>
              We help great companies simplify and take control of their IT
          </h5>
      </div>
  </div>
</section>
<section class="main-container about-company">
  <div class="about-top-section">
      <div class="container">
          <div class="about-company-inner">
              <div class="des-content">
                  <div class="des-title">
                      <label>OUR COMPANY</label>
                      <h3>PROJECT TREE is your trusted source in IT services and support</h3>
                  </div>
                  <p>PROJECT TREE is a privately owned IT Support and IT Services business formed in 2016. Today
                      we’re proud to boast a strong team of IT engineers who thrive on rolling up their sleeves
                      and solving your IT problems and meeting your business needs.</p>
              </div>
              <div class="about-columns">
                  <div class="about-col">
                      <div class="imagebox">
                          <div class="box-image">
                              <a class="box-header" href="services.html">
                                  <h6 class="box-subtitle">
                                      <span>Our services</span>
                                  </h6>
                                  <h2 class="box-title"> How we can help</h2>
                                  <div class="box-button"> <span class="button no-bg">Discover now <svg
                                              xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                              viewBox="0 0 24 24">
                                              <path fill="none" d="M0 0h24v24H0V0z" />
                                              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" /></svg></span>
                                  </div>
                              </a>
                              <a class="box-img" href="#" target="_self">
                                  <img class="" src="../assets/working-day-in-office.jpg">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="about-col">
                      <div class="imagebox">
                          <div class="box-image">
                              <a class="box-header" href="aboutus.html">
                                  <h6 class="box-subtitle">
                                      <span>Our expertise</span>
                                  </h6>
                                  <h2 class="box-title">Why partner with us</h2>
                                  <div class="box-button"> <span class="button no-bg">Learn More <svg
                                              xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                              viewBox="0 0 24 24">
                                              <path fill="none" d="M0 0h24v24H0V0z" />
                                              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" /></svg></span>
                                  </div>
                              </a>
                              <a class="box-img" href="#" target="_self">
                                  <img class="" src="../assets/portrait-of-a-cute-young-woman-smiling.jpg">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="about-col">
                      <div class="imagebox">
                          <div class="box-image">
                              <a class="box-header" href="aboutus.html">
                                  <h6 class="box-subtitle">
                                      <span>Our customers</span>
                                  </h6>
                                  <h2 class="box-title"> Client success stories</h2>
                                  <div class="box-button"> <span class="button no-bg">Read more <svg
                                              xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                              viewBox="0 0 24 24">
                                              <path fill="none" d="M0 0h24v24H0V0z" />
                                              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" /></svg></span>
                                  </div>
                              </a>
                              <a class="box-img" href="#" target="_self">
                                  <img class="" src="../assets/group-work.jpg">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="aboout-bottom-section">
      <p>IT services built specifically for your business. <a class="dot" href="#"><span>Find your
                  solution</span></a></p>
  </div>
</section>


<section class="main-container services-section">
  <div class="container">
      <div class="services-inner">
          <div class="site-title">
              <h4>Our Services</h4>
              <p>Our Services, Satisfies The Need</p>
          </div>
          <div class="services-box-main">
              <div class="services-box-row">

                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="website-development.html"> <img src="../assets/images/icons/website-development.png"
                                      alt=""></a>
                          </div>
                          <a href="website-development.html">
                              <h4>Website Development</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="website-design.html"> <img src="../assets/images/icons/Web-Design.png" alt=""></a>
                          </div>
                          <a href="website-design.html">
                              <h4>Website Design</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="mobile-application-development.html"> <img
                                      src="../assets/images/icons/Mobile-App.png" alt=""></a>
                          </div>
                          <a href="mobile-application-development.html">
                              <h4>Mobile Application Development</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="custom-software-development.html"> <img src="../assets/images/icons/CMS-Website.png"
                                      alt=""></a>
                          </div>
                          <a href="custom-software-development.html">
                              <h4> Custom Software Development</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="logo-and-graphics-design.html"> <img src="../assets/images/icons/Logo-&-Graphic.png"
                                      alt=""></a>
                          </div>
                          <a href="logo-and-graphics-design.html">
                              <h4> Logo and Graphics Design</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="seo-services.html"> <img src="../assets/images/icons/SEO-Services.png" alt=""></a>
                          </div>
                          <a href="seo-services.html">
                              <h4>SEO Services</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="e-commerce-website-development.html"> <img
                                      src="../assets/images/icons/website-development.png" alt=""></a>
                          </div>
                          <a href="e-commerce-website-development.html">
                              <h4> E-commerce Website Development</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="bulk-sms.html"> <img src="../assets/images/icons/Bulk-SMS.png" alt=""></a>
                          </div>
                          <a href="bulk-sms.html">
                              <h4> Bulk SMS</h4>
                          </a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-box-inner">
                          <div class="service-icon">
                              <a href="digital-marketing.html"> <img src="../assets/images/icons/digital-marketing.png"
                                      alt=""></a>
                          </div>
                          <a href="digital-marketing.html">
                              <h4>Digital Marketing</h4>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="main-container whychoose-section">

  <div class="site-title">
      <h4>Our expertise</h4>
      <p>Why partner with us</p>
  </div>

  <div class="container">
      <div class="whychoose-inner">


          <div class="whychoose-box-main">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="whychoose-content">
                          <h3>Why PROJECT TREE IT Services? </h3>
                          <p>We are recognized and awarded as ISO certified website development company in
                              Bangalore, India. Project Tree Provides the full range of online solution from
                              registering domain and hosting, website development services, application
                              development until digital marketing which help your business in generating brand
                              value online.</p>
                          <p> <span class="light">Project Tree Provides 24/7 Support, Timely Delivery, Responsive
                                  Design and You’ll Simple Love it.</span> </p>
                          <a href="aboutus.html" class="btn btn-site">READ MORE</a>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="choose-box-row">
                          <div class="choose-col">
                              <div class="choose-box">
                                  <div class="choose-icon">
                                      <img width="48" height="48" src="../assets/images/icons/freesetup.png"
                                          class="attachment-full size-full">
                                  </div>
                                  <p class="text">Free Setup</p>
                              </div>
                          </div>
                          <div class="choose-col">
                              <div class="choose-box">
                                  <div class="choose-icon">
                                      <img width="48" height="48" src="../assets/images/icons/targetmarket.png"
                                          class="attachment-full size-full">
                                  </div>
                                  <p class="text">Target Market</p>
                              </div>
                          </div>
                          <div class="choose-col">
                              <div class="choose-box">
                                  <div class="choose-icon">
                                      <img width="48" height="48" src="../assets/images/icons/freelayout.png"
                                          class="attachment-full size-full">
                                  </div>
                                  <p class="text">Free Layout</p>
                              </div>
                          </div>
                          <div class="choose-col">
                              <div class="choose-box">
                                  <div class="choose-icon">
                                      <img width="48" height="48" src="../assets/images/icons/costefficient.png"
                                          class="attachment-full size-full">
                                  </div>
                                  <p class="text">Cost Efficient</p>
                              </div>
                          </div>
                          <div class="choose-col">
                              <div class="choose-box">
                                  <div class="choose-icon">
                                      <img width="48" height="48" src="../assets/images/icons/fullsupport.png"
                                          class="attachment-full size-full">
                                  </div>
                                  <p class="text">Full Support</p>
                              </div>
                          </div>
                          <div class="choose-col">
                              <div class="choose-box">
                                  <div class="choose-icon">
                                      <img width="48" height="48" src="../assets/images/icons/customizedservice.png"
                                          class="attachment-full size-full">
                                  </div>
                                  <p class="text">Customized Service</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-4">
                  <div class="features-box">
                      <div class="icon">
                          <img src="../assets/images/icons/customsolution.png" alt="">
                      </div>
                      <h3>Custom Solution</h3>
                      <p>We always understand your need and provide you exact what you want.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <div class="icon">
                          <img src="../assets/images/icons/customersupport.png" alt="">
                      </div>
                      <h3>Custom Support</h3>
                      <p>We always become a solution for any need of our esteem client.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="features-box">
                      <div class="icon">
                          <img src="../assets/images/icons/latesttechonology.png" alt="">
                      </div>
                      <h3>Latest Techonologies</h3>
                      <p>We always understand your need and provide you exact what you want.</p>
                  </div>
              </div>

          </div>

      </div>
  </div>
</section>




<section class="container-main getstarted-section">
  <div class="container">
      <div class="getstarted-inner">
          <div class="get-started-content">
              <h6>Let’s get started</h6>
              <h4>Are you ready for a better, more productive business?</h4>
              <p>Stop worrying about technology problems. Focus on your business.
                  Let us provide the support you deserve.</p>
              <a href="contact.html" class="btn btn-site ">Contact us Now</a>
          </div>
      </div>
  </div>
</section>
